In [2]:
import pandas as pd
data=pd.read_csv("http://bit.ly/uforeports")

In [3]:
data.dtypes

City               object
Colors Reported    object
Shape Reported     object
State              object
Time               object
dtype: object

In [6]:
#Gets the 5th to last to 3rd to last characters and stores them as ints then shows the head

data.Time.str.slice(-5,-3).astype(int).head()

0    22
1    20
2    14
3    13
4    19
Name: Time, dtype: int64

In [7]:
#Changes type of time to datetime
data["Time"]=pd.to_datetime(data.Time)

In [10]:
data.dtypes

City                       object
Colors Reported            object
Shape Reported             object
State                      object
Time               datetime64[ns]
dtype: object

In [13]:
data.Time.dt.weekday_name.head()

0     Sunday
1     Monday
2     Sunday
3     Monday
4    Tuesday
Name: Time, dtype: object

In [14]:
data.Time.dt.hour.head()

0    22
1    20
2    14
3    13
4    19
Name: Time, dtype: int64

In [16]:
#Pass month day year format and it outputs a timestamp
ts=pd.to_datetime("1/1/1999")

In [18]:
#Get only the stuff after Time recorder in timestamp above
data.Time[data.Time>ts].head()

12832   1999-01-01 02:30:00
12833   1999-01-01 03:00:00
12834   1999-01-01 14:00:00
12835   1999-01-01 15:00:00
12836   1999-01-01 17:15:00
Name: Time, dtype: datetime64[ns]

In [20]:
data.Time.max()
data.Time.max()-data.Time.min()

Timedelta('25781 days 01:59:00')